.CartArea{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: end;
    width: 100%;
}
.CartArea button{
    color: red;
    padding: 5px;
    font-size: 25px;
}
.CartItems{
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    border:2px dotted blue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 400px;
    height: fit-content;
    margin: 4px;
    padding: 4px;
    background: white;
}

.CartItems .item{
    display: flex;
    gap: 0.2rem;
    align-items: center;
    justify-content: space-between;
}
.item button{
    font-size: 15px;
}